:root {
    font-family: Inter, PingFang SC, 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    --background-color: #ffffff;
    --text-color: #000000;
    --text-disabled-color: #aaaaaa;
    --background-revert-color: #000000;
    --text-revert-color: #ffffff;
    --text-disabled-revert-color: #666666;
    --button-color: #eeeeee;
    --button-border-color: #000000;
    --button-hovered-color: #ffffff;
    --button-revert-color: #555555;
    --button-border-revert-color: #ffffff;
    --button-hovered-revert-color: #222222;
    --logo-svg-color: #000000;
    --logo-svg-hoverd-color: #000000bb;
    --light-background-color: #ffffff;
    --light-text-color: #000000;
    --light-text-disabled-color: #aaaaaa;
    --light-background-revert-color: #000000;
    --light-text-revert-color: #ffffff;
    --light-text-disabled-revert-color: #666666;
    --light-button-color: #eeeeee;
    --light-button-border-color: #000000;
    --light-button-hovered-color: #ffffff;
    --light-button-revert-color: #555555;
    --light-button-border-revert-color: #ffffff;
    --light-button-hovered-revert-color: #222222;
    --light-logo-svg-color: #000000;
    --light-logo-svg-hoverd-color: #000000bb;
    --dark-background-color: #000000;
    --dark-text-color: #ffffff;
    --dark-text-disabled-color: #666666;
    --dark-background-revert-color: #ffffff;
    --dark-text-revert-color: #000000;
    --dark-text-disabled-revert-color: #aaaaaa;
    --dark-button-color: #222222;
    --dark-button-border-color: #ffffff;
    --dark-button-hovered-color: #000000;
    --dark-button-revert-color: #bbbbbb;
    --dark-button-border-revert-color: #000000;
    --dark-button-hovered-revert-color: #eeeeee;
    --dark-logo-svg-color: #ffffff;
    --dark-logo-svg-hoverd-color: #ffffffbb
}

.lightMode {
    --background-color: var(--light-background-color);
    --text-color: var(--light-text-color);
    --text-disabled-color: var(--light-text-disabled-color);
    --background-revert-color: var(--light-background-revert-color);
    --text-revert-color: var(--light-text-revert-color);
    --text-disabled-revert-color: var(--light-text-disabled-revert-color);
    --button-color: var(--light-button-color);
    --button-border-color: var(--light-button-border-color);
    --button-hovered-color: var(--light-button-hovered-color);
    --button-revert-color: var(--light-button-revert-color);
    --button-border-revert-color: var(--light-button-border-revert-color);
    --button-hovered-revert-color: var(--light-button-hovered-revert-color);
    --logo-svg-color: var(--light-logo-svg-color);
    --logo-svg-hoverd-color: var(--light-logo-svg-hoverd-color)
}

.darkMode {
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
    --text-disabled-color: var(--dark-text-disabled-color);
    --background-revert-color: var(--dark-background-revert-color);
    --text-revert-color: var(--dark-text-revert-color);
    --text-disabled-revert-color: var(--dark-text-disabled-revert-color);
    --button-color: var(--dark-button-color);
    --button-border-color: var(--dark-button-border-color);
    --button-hovered-color: var(--dark-button-hovered-color);
    --button-revert-color: var(--dark-button-revert-color);
    --button-border-revert-color: var(--dark-button-border-revert-color);
    --button-hovered-revert-color: var(--dark-button-hovered-revert-color);
    --logo-svg-color: var(--dark-logo-svg-color);
    --logo-svg-hoverd-color: var(--dark-logo-svg-hoverd-color)
}

@media (prefers-color-scheme:dark) {
    :root {
        --background-color: var(--dark-background-color);
        --text-color: var(--dark-text-color);
        --text-disabled-color: var(--dark-text-disabled-color);
        --background-revert-color: var(--dark-background-revert-color);
        --text-revert-color: var(--dark-text-revert-color);
        --text-disabled-revert-color: var(--dark-text-disabled-revert-color);
        --button-color: var(--dark-button-color);
        --button-border-color: var(--dark-button-border-color);
        --button-hovered-color: var(--dark-button-hovered-color);
        --button-revert-color: var(--dark-button-revert-color);
        --button-border-revert-color: var(--dark-button-border-revert-color);
        --button-hovered-revert-color: var(--dark-button-hovered-revert-color);
        --logo-svg-color: var(--dark-logo-svg-color);
        --logo-svg-hoverd-color: var(--dark-logo-svg-hoverd-color)
    }
}

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    overflow-x: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-tap-highlight-color: transparent;
    letter-spacing: -.01em;
    font-weight: 500;
    transition: all .1s ease
}

span {
    color: var(--text-color);
    font-family: Inter, Noto_Sans, PingFang SC, 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    transition: .1s ease
}

span.logo {
    font-weight: 800;
    font-size: xx-large;
    font-feature-settings: 'ss02' 1;
    color: #203864;
}

span.notice {
    font-weight: 600;
    font-size: x-large;
    font-feature-settings: 'ss02' 1
}

span.attention {
    /* max-width: 50vw; */
    word-break: normal;
    text-align: center
}

span.tiptoe {
    position: relative;
    cursor: pointer;
    transition: all 1s ease
}

span.tiptoe:hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 55%;
    width: 0;
    height: 0;
    border-left: .2em solid transparent;
    border-right: .2em solid transparent;
    border-bottom: .2em solid var(--text-color);
    transform: translateX(-50%) translateY(.08em)
}

.spaceholder {
    width: 64px;
    height: 10vw
}

.whole {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 7vw 7vw 7vw 7vw;
    width: 86vw;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header {
    max-height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

.center {
    min-height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.go2Btn {
    line-height: 1.2em;
    font-family: Inter, Noto_Sans_SC, PingFang SC, 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    font-weight: 600;
    width: fit-content;
    height: fit-content;
    background-color: var(--button-color);
    color: var(--text-color);
    font-size: 1em;
    margin-top: 1em;
    padding: .5em;
    border-radius: .5em;
    border: .2em solid var(--button-border-color);
    cursor: pointer
}

.go2Btn:hover {
    background-color: var(--button-hovered-color)
}

.willUrl {
    text-decoration: underline;
    max-width: 20em;
    word-break: break-all;
    text-align: center;
    opacity: 0.8;
    user-select: all
}

.footer {
    height: 10vh;
    min-height: 128px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

.logoIcon {
    display: inline;
    width: fit-content;
    height: fit-content;
    margin-bottom: -.05em;
    cursor: pointer;
    color: var(--logo-svg-color)
}

.logoIcon:hover {
    color: var(--logo-svg-hoverd-color)
}

span.support {
    position: relative;
    display: inline-block;
    margin-top: 0.5em;
    height: 1.3em;
    line-height: 1.3em;
    width: fit-content;
    height: fit-content;
    font-size: 0.8em;
    font-weight: 600;
    padding: 0.1em 0.3em 0.05em 0.3em;
    border: .1em solid var(--button-border-color);
    border-radius: .3em;
    background-color: var(--background-color);
    filter: grayscale(100%) contrast(100%);
    cursor: pointer
}

span.feedback:hover {
    background-color: var(--background-revert-color);
    color: var(--text-revert-color)
}

span.feedback {
    margin-top: -0.5em;
    border: .1em solid var(--background-color)
}

span.feedback:hover {
    border: .1em solid var(--background-revert-color)
}

.none {
    display: none
}